streamlit==1.31.0
requests==2.32.5
python-dotenv==1.0.1
base64io==1.0.0   
langchain==1.2.10   
langchain-core==1.2.14
langchain-groq==1.1.2
langchain-huggingface==1.2.0
groq==0.37.1
reportlab==4.4.10
fpdf2==2.8.6
pandas==2.3.3
numpy==1.26.4
orjson==3.11.7
pyyaml==6.0.3
typing-extensions==4.15.0
